@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: rgb(61, 60, 60);
    font-family: sans-serif;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: yellow;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: rgb(239, 247, 247);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

/* home section styling  start */
.home{
    display: flex;
    background: url('images/banner.jpg') no-repeat center;
    height: 100vh;
    color: rgb(243, 239, 239);
    min-height:500px ;
    font-family: sans-serif;
    
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 65px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color:rgb(238, 238, 46);
    font-weight: 500;
}